ul {
    list-style: none;
    height: 42px;
}

li {
    float: left;
    width: 20%;
    text-align: center;
    cursor: pointer;
}
li a{
    color: #fff;
}
.page{
    text-align: center;
    font-size: 15px;
    
}
.page a,.page span{
    margin-left: 20px;
    margin-right: 20px;
}
.copyright{
 text-align: center;   
}