ul {
    list-style: none;
    padding: 0;
}

li a{
    color: #fff;
}
.page{
    text-align: center;
    font-size: 15px;
    
}
.page a,.page span{
    margin-left: 20px;
    margin-right: 20px;
}
.copyright{
 text-align: center;   
}
.panel {
      display: none;
      width: 280px;
      background-color: #333;
      color: #fff;
      border-radius: 0!important;
}

#open-panel{
      border-radius:10px;
      color: #000;
      cursor: pointer;
      display: block;
      font-family: Courier New;
      font-size: 25px;
      font-weight: bold;
      height: 50px;
      margin-top: 20px;
      line-height: 45px;
      text-align: center;
      text-shadow: 0 -4px;
}

#open-panel:hover,#open-panel:visited,#open-panel:link{
    text-decoration: none;
}

.panel-list li{
    float: none;
    text-align: center;
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,255,255,.1);
}


